*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


.link-icons:hover{
    background-color: rgb(141, 26, 45) !important;
 }

.active{
    border-radius: 5px;
    background-color: rgb(141, 26, 45);
}

.navbar-collapse{
    flex-grow: 0;
}
.bi-chevron-left:hover,
.bi-chevron-right:hover{
    color: rgb(192, 17, 90) !important;
}

.main-title:hover{
    color: rgb(192, 17, 90) !important;
}

@media screen and (max-width: 1024px){
    .card{
        margin: 1rem 0 !important;
    }
}
@media screen and (min-width: 1024px){
    .card{
        margin: 0 0 1rem !important;
    }
}